<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">

<properties>

    <entry key="adminLogin">
        SELECT user_id, role
        FROM users
        WHERE user_id = ?
        AND password = ?
    </entry>
	<entry key="adminRoomManage">
        SELECT * FROM room_manage
    </entry>
    <entry key="updateRoom">
    UPDATE room_manage
    SET room_name = ?,
        capacity = ?,
        room_location = ?,
        room_description = ?,
        updated_at = NOW()
    WHERE room_id = ?
	</entry>
	<entry key="deleteRoom">
	    DELETE FROM room_manage
	    WHERE room_id = ?
	</entry>
	<entry key="deleteRoomImage">
	    DELETE FROM room_image 
	    WHERE room_id = ?
	</entry>
	<entry key="insertRoom">
	    INSERT INTO room_manage(room_id,room_name, capacity, room_location, room_description, usage_time,amenity,minibar,created_at) 
	    VALUES (?,?, ?, ?, ?,?,?,?, NOW())
	</entry>
	<entry key="insertRoomImage">
	    INSERT INTO room_image (room_id, image_path, is_main, display_order, created_at) 
	    VALUES (?, ?, ?, ?, NOW())
	</entry>
	<entry key="selectRoomByNo">
	    SELECT * FROM room_manage WHERE room_id = ?
	</entry>
	<entry key="selectRoomImages">
	    SELECT image_path FROM room_image WHERE room_id = ?
	</entry>
</properties>
