<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">

<properties>

	<entry key="adminLogin">
		SELECT user_id, role
		FROM users
		WHERE user_id = ?
		AND
		password = ?
	</entry>

	<entry key="facilitySelectAll">
		SELECT facility_id, facility_type, facility_name,
		location, open_time
		FROM hotel_facility
		ORDER BY facility_id
	</entry>


	<entry key="facilityUpdate">
		UPDATE hotel_facility
		SET facility_name = ?,
		facility_type = ?,
		location = ?,
		open_time = ?,
		description = ?
		WHERE
		facility_id = ?
	</entry>


	<entry key="facilityImagePath">
		SELECT image_path
		FROM facility_image
		WHERE image_id = ?
	</entry>


	<entry key="facilityImageDelete">
		DELETE FROM facility_image
		WHERE image_id = ?
	</entry>


	<entry key="facilityImageInsert">
		INSERT INTO facility_image
		(facility_id, image_path,
		is_main)
		VALUES (?, ?, ?)
	</entry>


	<entry key="facilityResetMain">
		UPDATE facility_image
		SET is_main = 'N'
		WHERE
		facility_id = ?
	</entry>


	<entry key="facilitySetMain">
		UPDATE facility_image
		SET is_main = 'Y'
		WHERE image_id =
		?
	</entry>

	<entry key="facilitySelectOne">
		SELECT facility_id,
		facility_type,
		facility_name,
		location,
		open_time,
		description
		FROM hotel_facility
		WHERE facility_id = ?
	</entry>


	<entry key="facilitySelectImages">
		SELECT image_id, image_path, is_main
		FROM
		facility_image
		WHERE facility_id = ?
	</entry>

	<entry key="facilityInsert">
    <![CDATA[
        INSERT INTO hotel_facility
        (facility_type, facility_name, location, open_time, description)
        VALUES (?,?,?,?,?)
    ]]>
	</entry>

	<entry key="facilityDelete">
<![CDATA[
DELETE FROM hotel_facility
WHERE facility_id = ?
]]>
	</entry>



	<entry key="setFirstImage">
<![CDATA[
UPDATE facility_image
SET is_main = 'Y'
WHERE image_id = (
    SELECT image_id
    FROM facility_image
    WHERE facility_id = ?
    ORDER BY image_id DESC
    LIMIT 1
)
]]>
	</entry>

	<entry key="facilitySetNewMain">
<![CDATA[
UPDATE facility_image
SET is_main='Y'
WHERE image_id = (
    SELECT image_id
    FROM (
        SELECT image_id
        FROM facility_image
        WHERE facility_id = ?
        ORDER BY image_id DESC
        LIMIT ?,1
    ) AS tmp
)
]]>
	</entry>
















	<entry key="adminRoomManage">
		SELECT * FROM room_manage
	</entry>
	<entry key="updateRoom">
		UPDATE room_manage
		SET room_name = ?,
		capacity = ?,
		room_location = ?,
		room_description = ?,
		usage_time =?,
		amenity = ?,
		minibar = ?,
		updated_at = NOW()
		WHERE room_id = ?
	</entry>
	<entry key="deleteRoom">
		DELETE FROM room_manage
		WHERE room_id = ?
	</entry>
	<entry key="deleteRoomImage">
		DELETE FROM room_image
		WHERE room_id = ?
	</entry>
	<entry key="insertRoom">
		INSERT INTO room_manage(room_id,room_name, capacity,
		room_location,
		room_description, usage_time,amenity,minibar,created_at)
		VALUES (?,?, ?, ?, ?,?,?,?, NOW())
	</entry>
	<entry key="insertRoomImage">
		INSERT INTO room_image (room_id, image_path, is_main,
		display_order,
		created_at)
		VALUES (?, ?, ?, ?, NOW())
	</entry>
	<entry key="selectRoomByNo">
		SELECT * FROM room_manage WHERE room_id = ?
	</entry>
	<entry key="selectRoomImages">
		SELECT * FROM room_image WHERE room_id = ?
	</entry>

	<entry key="updateRoomMainImage">
		UPDATE room_image
		SET is_main =
		CASE
		WHEN image_no = ?
		THEN 'Y'
		ELSE 'N'
		END
		WHERE room_id = ?
	</entry>

	<entry key="deleteRoomImageDB">
		DELETE FROM room_image WHERE image_no = ?
	</entry>
	<entry key="selectRoomImagePath">
		SELECT image_path FROM room_image WHERE image_no = ?
	</entry>

	<entry key="deleteRoomImageByPath">
		DELETE FROM room_image WHERE image_path = ?
	</entry>

















	<entry key="adminQnaList">
		SELECT qna_no, user_id, title, status, reg_date
		FROM
		qna
		ORDER BY qna_no DESC
	</entry>

	<entry key="adminQnaDetail">
		SELECT *
		FROM qna
		WHERE qna_no = ?
	</entry>


</properties>